h1{
    margin-left: 97px;
}
#about{
    background-image: url('https://i.postimg.cc/26sVRVv0/about.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    background-blend-mode: luminosity;
    display: flex;
}
h2{
margin-left: 70px;
 color: var(--pink);
      font-size: 53px;   
  }
  .d-flex{
    display: flex;
  }
  .about-img{
    height: 370px;
    width: 370px;
  }

  .radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    /* width: 360px; */
    font-size: 14px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #fff;
    color: grey !important;
    font-weight: 600;
  }
  .arrow-img{
    width: 2.5em;
    height: 1em;
  }
    
  .arrow-info{

    margin: 15px;
    display: flex;
  }
  p{
    margin: 10px;
  }
