.container {
    background-image: url('https://i.postimg.cc/W1Jp1rQ6/bgclash2.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
}
.container {
    display: flex;
  }
  
  .first-div {
    flex: 1;
    margin-top: 90px;
  }
  
  .img-div {
    flex: 1; 
    text-align: right;
  }
  
h1{
    color: var(--pink);
    font-size: 60px;
}
.desc{
    font-size: 30px;
}
#role-desc{
    color: #9C9C9C;
}
.btn-projects{
    background-color: var(--pink);
    color: white;
    width: 151px;
    height: 50px;
    
}
.btn-contact{
    color: white;
    width: 151px;
height: 50px;
border: 2px solid var(--pink);
background: transparent;
}